main-app-service/venv/
main-app-service/__pycache__/
main-app-service/.idea/


shared/
rabbit/
.env
temp/
.git


consumer-uploader-service/.idea/
consumer-uploader-service/venv/
consumer-uploader-service/.git
consumer-uploader-service/test.py
consumer-uploader-service/paths.py
consumer-uploader-service/__pycache__/